*{
	padding: 2px;
	margin: 0;
}

body{

	background-image: url(../imgs/triangle.jpg);
	background-size: 100%;
	height: 100vh;
	overflow: hidden;


}

.a-index{
	background-color: rgba(207, 207, 207);
	padding: 4px;
	color: black;
	font-size: 14px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	bottom: 28%;
	text-decoration: none;
	margin:0;
	border: 2px solid;
}


#body-registrarse{
	background-image: url(../imgs/yamaha_yzf_r1_yamaha_sport_bike_95773_1366x768.jpg);
	height: 650px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#body-login{
	background-image: url(../imgs/pareja.jpg);
	height: 650px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#body-contrasena{
	background-image: url(../imgs/conta.jpg);
	height: 650px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#body-info{
	background-image: url(../imgs/Triangulo.jpg);
	height: 650px;
	
}

#p-info{
	color: blanchedalmond;
}


.menu{
	list-style: none;
	padding: 0;
	background: #092327;
	width:  100%;
	max-width: 10005px;
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
}

.menu li a{
	text-decoration: none;
	color: blanchedalmond;
	padding: 15px;
	display: block;
}
.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background: #ef8354;

}

#h1-registro{

	text-align: center;
	font-weight: 700;
	font-size: 50px;
	font-family: 'Big Shoulders Display', cursive;

}

form{
	background-color: cornsilk;
	padding: 40px 0;
	box-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	
}
 #a-olvido{
	text-decoration: none;
	padding: 15px;
	display: block;
	text-align: center;
}

.form{
	width: 100%;
	margin: auto;
}

form .gru{
	position: relative;
	margin: 45px;
}

input{
	background: none;
	color:  #c6c6c6;
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid rgb(136, 62, 124);
}

input:focus{
	outline: none;
	color: rgb(0, 0, 0);
}
input:focus~label{
	color: #2196f3;
}


#btn-registrarse{
	font-family: 'roboto';
	background: #23074d;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cc5333, #23074d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cc5333, #23074d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border: none;
	display: block;
	width: 80%;
	margin: 10px auto;
	color: white;
	height: 40px;
	font-size: 16px;
	cursor: pointer;


}
#btn-login{
	background: #FDC830;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
	display: block;
	width: 80%;
	margin: 10px auto;
	color: white;
	height: 40px;
	font-size: 16px;
	cursor: pointer;

}

#btn-contasena{
	background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
	display: block;
	width: 80%;
	margin: 10px auto;
	color: white;
	height: 40px;
	font-size: 16px;
	cursor: pointer;

}
#titulo{
	margin-left: 14%;
	font-family: 'Times New Roman', Times, serif;
	color: rgb(6, 20, 218) ;
}
#titulo-info{
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	font-size: 45px;
	color: rgb(255, 255, 255) ;
}
th{
width: 200px;
height: 100px;

}
.tabla {
	margin: auto;
	border-spacing: 30px;
	
}

img{

	width: 370px;
	height: 190px;
	transition: transform 0.5s;
	

}
img:hover{
	
	transform:  scale(1.1);
	
}


#btn_login{
	height: 30px;
	width: 140px;
	
	padding: 5px;
	margin: 10px;
		
}

#titulo{
	text-align: left;
	size: 1000px;
	font-size: 45px;
	font-family: cursive;
}

.izquierda{
	background:goldenrod;
	height: 92vh;
	width: 50%;
	text-align: center;
	
}

.izquierda-info{
	background: url(../imgs/logitos.png);
	background-size: cover;
	background-position: center;
	width:50%;
	height: 98.5vh;
	
}

.derecha-info {
	background:rgb(61, 6, 211);
	height: 98.5vh;
	width: 50%;
	text-align: center;
 }

.derecha {
   background: url(../imgs/ducati_1199_ducati_1199_panigale_motorcycle_red_101094_1366x768.jpg);
   background-size: cover;
   background-position: center;
   width:50%;
   height: 92vh;
}

#pantalla-dividida {
   display: flex;
}
#bienvenido{
	color:cornsilk;
	font-size: 90px;
	width: 50%;
	margin: auto;
	margin-bottom: 20px;
	font-family: 'Big Shoulders Display', cursive;
	margin-top: 25%;
	
}
#acerca{
	color:cornsilk;
	font-size: 60px;
	width: 50%;
	margin: auto;
	margin-bottom: 20px;
	font-family: 'Big Shoulders Display', cursive;
	margin-top: 10%;
	
}

#parrafo-index{
	font-size: 25px;
	line-height: 30px;
	width: 50%;
	margin: auto;
	font-family: 'Ubuntu', sans-serif;
	margin-top:center;

}

#parrafo-info{

	font-size: 25px;
	line-height: 30px;
	width: 60%;
	margin: auto;
	font-family: 'Ubuntu', sans-serif;
	margin-top:center;


}
#a-home{
	border: 4px solid #fff;
	padding: 20px;
	text-decoration: none;
	color:honeydew;
	border-radius: 30px;
	font-weight: bold;
	display: inline-block;
	margin-top: 5%;
	display: inline-block;
	font-family: 'Big Shoulders Display', cursive;
	font-size: 30px;
	
}


#a-inicio{
	border: 4px solid #fff;
	padding: 20px;
	text-decoration: none;
	color:honeydew;
	border-radius: 30px;
	font-weight: bold;
	display: inline-block;
	margin-top: 5%;
	display: inline-block;
	font-family: 'Big Shoulders Display', cursive;
	font-size: 30px;
	
}

#titulo-galeria{

	color:rgb(223, 111, 6);
	font-size: 70px;
	font-family: 'Bebas Neue', cursive;
	text-align: center;
	
}


.img-container {
	width: 372px;
	height: 192px;
	padding: 5px 5px 5px 5px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	transition: transform 0.5s;

  }
  
  .img-container:before {
	content: '';
	width: inherit;
	height: inherit;
	position: absolute;
	opacity: 0;
	transition: opacity .1s ease-out;  
	background-color: rgb(46, 44, 44, 0.8 ); 
	filter: blur(1.3px);
  }
  
  .img-container:hover:before { 
	opacity: 1;
  }


  .img-container:hover { 
	
	transform:  scale(1.1);
	
  }
  
  .img-container .text-container {
	width: inherit;
	padding: 2px 8px;
	color: rgb(245, 238, 238);
	position: absolute;
	top: 100%; 
	
  }
  
  .img-container:hover .text-container {    
	top: 30%;
  }

  .titulo-tabla{
	  font-size: 30px;
  }
