*{
	padding: 0;
	margin: 0;
}

body{

	background-image: url(../imgs/Fondo-Metalizado.jpg);
	background-size: 100%;
	height: 100vh;

	font-family: Arial, Helveica, sans-serif ;
	color: white ;



}
th{
width: 200px;
height: 100px;

}
.tabla {

	border-spacing: 30px;
}
img{

	width: 370px;
    height: 190px;

}


#btn_login{
	height: 30px;
	width: 140px;
	margin-left: 88%;
	
	
}

#titulo{
	text-align: left;
	size: 1000px;
	font-size: 45px;
	font-family: cursive;
}


