
*{
	padding: 2px;
	margin: 0;
}

body{

	background-image: url(../imgs/triangle.jpg);
	background-size: 100%;
	height: 100vh;
}

.a-index{
	background-color: rgba(207, 207, 207);
	padding: 4px;
	color: black;
	font-size: 14px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	bottom: 28%;
	text-decoration: none;
	margin:0;
	border: 2px solid;
}


#body-registrarse{
	background-image: url(../imgs/yamaha_yzf_r1_yamaha_sport_bike_95773_1366x768.jpg);
	height: 650px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#body-login{
	background-image: url(../imgs/pareja.jpg);
	height: 650px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#body-info{
	background-image: url(../imgs/Triangulo.jpg);
	height: 650px;
	
}

#p-info{
	color: blanchedalmond;
}



.menu{
	list-style: none;
	padding: 0;
	background: #092327;
	width:  100%;
	max-width: 10005px;
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
}

.menu li a{
	text-decoration: none;
	color: blanchedalmond;
	padding: 15px;
	display: block;
}
.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background: #ef8354;

}



#h1-registro{

	text-align: center;
	font-weight: 700;
	font-size: 50px;

}

form{
	background-color: cornsilk;
	padding: 40px 0;
	box-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
	border-radius: 10px;
}

.form{
	width: 100%;
	margin: auto;
}

form .gru{
	position: relative;
	margin: 45px;
}

input{
	background: none;
	color:  #c6c6c6;
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid rgb(136, 62, 124);
}

input:focus{
	outline: none;
	color: rgb(0, 0, 0);
}
input:focus~label{
	color: #2196f3;
}


#btn-registrarse{
	font-family: 'roboto';
	background: #23074d;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cc5333, #23074d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cc5333, #23074d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border: none;
	display: block;
	width: 80%;
	margin: 10px auto;
	color: white;
	height: 40px;
	font-size: 16px;
	cursor: pointer;


}
#btn-login{
	background: #FDC830;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
	display: block;
	width: 80%;
	margin: 10px auto;
	color: white;
	height: 40px;
	font-size: 16px;
	cursor: pointer;


}
#titulo{
	margin-left: 6%;
	font-family: 'Times New Roman', Times, serif;
	color: rgb(255, 166, 0) ;
}
#titulo-info{
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	font-size: 45px;
	color: rgb(255, 255, 255) ;
}
th{
width: 200px;
height: 100px;

}
.tabla {

	border-spacing: 30px;
}
img{

	width: 370px;
	height: 190px;
	transition: transform 0.5s;

}

img:hover{
	filter: blur(1.3px);
	transform:  scale(1.1);

}

#btn_login{
	height: 30px;
	width: 140px;
	
	padding: 5px;
	margin: 10px;
	
	
}

#titulo{
	text-align: left;
	size: 1000px;
	font-size: 45px;
	font-family: cursive;
}



